streamlit>=1.30.0
extra-streamlit-components>=0.1.60
pandas
google-cloud-bigquery
google-auth
google-auth-oauthlib
google-cloud-secret-manager
requests
db-dtypes
pyarrow
openai
sqlalchemy
psycopg2-binary
fastapi
uvicorn[standard]
httpx
